{% load qr_code %}
<div style="height: 7in;"></div>
<div>
    <h1>{{ object.moc.title }}</h1>
    <h3>By: {{ object.moc.creator.first_name }} {{ object.moc.creator.last_name }} </h3>
    <p style="height: 1.5in; text-align: justified;">{{ object.moc.description|truncatewords:300 }}</p>
</div>
<div>
    {% url 'mocs:details' object.moc.id as moc_details_url %}
    <span style="display: inline-block; float:right;">{% qr_from_text "https://testing.brickfiesta.com"|add:moc_details_url size="M" %}</span>
    <h3>MOC Category</h3>
    <p>{{ object.category }}</p>
    <h3>Year Built</h3>
    <p>{{ object.moc.year_built|date:'Y' }}</p>
    <h3>Dimensions</h3>
    <p>{{ object.moc.length }}" x {{ object.moc.width }}" x {{ object.moc.height }}"</p>
</div>