{% extends "brickfiesta/base.html" %}

{% block content %}
<div class="col-sm-12">
    <h2>My Own Creation Details (MOC)</h2>
    <h1>{{ object.title }}</h1>
    {% if moc_owner %}
            <a class="btn btn-info" href="{% url 'mocs:edit' object.id %}">Edit MOC Information</a>
    <a class="btn btn-info" href="{% url 'mocs:tabletent' object.id %}">Printable Table Tent</a>
    {% endif %}
    <h4>By: {{ object.creator.first_name }}</h4>
    <p align="justified">{{ object.description }}</p>
    <ul>
        {% if object.url_photo %}
        <li><a href="{{ object.url_photo }}" target="_blank">{{ object.url_photo }}</a></li>
        {% endif %}
        {% if object.url_flickr %}
        <li><a href="{{ object.url_flickr }}" target="_blank">{{ object.url_flickr }}</a></li>
        {% endif %}
    </ul>
    <h3>MOC Categories</h3>
    {% if moc_owner %}
    <a class="btn btn-info" href="{% url 'mocs:add-category' object.id %}">Add MOC Categories</a>
    {% endif %}
    <ul>
        {% for item in moc_categories %}
        <li><a href="{% url 'mocs:edit-category' item.id %}">{{ item.category }}</a></li>
        {% endfor %}
    </ul>
    <h3>MOC Stats</h3>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Stat</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Best Viewing Angle</td>
                <td>{{ object.get_viewable_sides_display }}</td>
            </tr>
            <tr>
                <td>Year Build</td>
                <td>{{ object.year_built|date:'Y' }}</td>
            </tr>
            <tr>
                <td>Year Retired</td>
                <td>{% if not not_retired %}{{ object.year_retired|date:'Y'|default:'N/A' }}{% endif %}</td>
            </tr>
            <tr>
                <td>Height</td>
                <td>{{ object.height }}</td>
            </tr>
            <tr>
                <td>Width</td>
                <td>{{ object.width }}</td>
            </tr>
            <tr>
                <td>Length</td>
                <td>{{ object.length }}</td>
            </tr>
        </tbody>
    </table>

</div>
{% endblock content %}