{% extends "brickfiesta/base.html" %}
{% block content %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-lg-8">
        <fieldset>
            {% if object.moc %}
            <legend><a href="{% url 'mocs:details' object.moc.id %}">My Own Creation</a> - Category</legend>
            {% else %}
            <legend><a href="{% url 'afol:mocs' %}">My Own Creation</a> - Category</legend>
            {% endif %}
            <form method="post" action="." enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'brickfiesta/form_formatting.html' %}
                {% include 'brickfiesta/google_recaptcha.html' %}
                <div align="right">
                    <input class="btn btn-primary" type="submit" value="Submit"/>
                </div>
            </form>
        </fieldset>
    </div>
</div>
{% endblock content %}