{% extends "brickfiesta/base.html" %}
{% block content %}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <fieldset>
            <legend>Password Change</legend>
            {% if form.errors %}
            <p>Your passwords didn't match. Please try again.</p>
            {% endif %}

            <p>Please enter your old password, for security's sake, and then enter your new password twice so we can
                verify you typed it in correctly.</p>

            <form method="post" action=".">
                {% csrf_token %}
                {% include 'brickfiesta/form_formatting.html' %}
                <div align="right">
                    <input class="btn btn-primary" type="submit" value="Update Password"/>
                </div>
            </form>
        </fieldset>
    </div>
</div>
{% endblock content %}