{% extends "brickfiesta/base.html" %}
{% block content %}
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <fieldset>
            <legend>Password Reset Request</legend>
            <form action="" method="post">{% csrf_token %}
                {% include 'brickfiesta/form_formatting.html' %}
                <p align="right">
                    <input class="btn btn-primary" type="submit" value="Reset Password"/>
                </p>
            </form>
        </fieldset>
    </div>
</div>
{% endblock content %}