{% extends "brickfiesta/base.html" %}

{% block content %}
<h1>{{ object.title }}</h1>
<h2>Description</h2>
<p>{{ object.description|linebreaks }}</p>
<h2>Rules</h2>
<p>{{ object.rules|linebreaks }}</p>
<h2>Additional Information</h2>
<p>The minimum people to participate in this event is {{ object.min_people }} the maximum is {{ object.max_people }}.
</p>
{% if object.signup_required %}
<p>Sign up for this event is required. If sign up is full you will be added to a waiting list.</p>
{% endif %}
<h2>Scheduled</h2>
{% if schedule_list %}
{% include 'event/schedule_table.html' %}
{% endif %}
{% endblock content %}