{% extends "brickfiesta/base.html" %}

{% block content %}
<div class="row">
    <div class="col-7">
        <h1>{{ event.title }}</h1>
        <h3>{{ event.start_date }} to {{ event.end_date }}</h3>
        <h3>{{ event.location.locality }}, {{ event.location.region }}</h3>
        <h2>{{ event.theme }}</h2>

    </div>
    <div class="col-5">
        <img style="height: 200px; width: 100%; display: block;" src="{{ event.logo.url }}" alt="Event Logo"/>
    </div>
</div>
<div>
    <p>{{ event.description|linebreaks }}</p>
    {% for announcement in announcements %}
        {% if announcement.event == event %}
    <p class="alert alert-danger font-weight-bold" role="alert">{{ announcement.description }}</p>
        {% endif %}
    {% endfor %}
    <p class="alert alert-info" align="right">Tag us on social media: #{{ event.hashtag }}</p>
</div>
<h2>Sponsors</h2>
<div class="row">
    {% for obj_sponsor in sponsor_list %}
    <div class="col-sm-4">
        {% include "vendor/sponsor_card.html" %}
    </div>
    {% endfor %}
</div>
<h2>Schedule</h2>

{% include "event/schedule_table.html" %}

<h2>Vendors</h2>
<div class="row">
    {% for obj_vendor in vendor_list %}
    <div class="col-sm-3">
        {% include "vendor/vendor_card.html" %}
    </div>
    {% endfor %}
</div>
<h2>Purchase Options</h2>
{% if event.is_upcoming %}
<a class="btn btn-info btn-lg" href="{% url 'shop:event' event.id %}" role="button">Online Shop</a>
{% elif event.is_current %}
<div class="alert alert-warning">
    <strong>Purchasing online for this event is now closed.</strong> Please visit the registration booth at the event to
    pickup or purchases.
</div>
{% else %}
<div class="alert alert-warning">
    <strong>This is a past event and purchasing is no longer available find out about our <a
            href="{% url 'event:index' %}">next event</a>.</strong>
</div>
{% endif %}
<h2>Location</h2>
<p class="h4"><strong><a href="{% url 'event:location' event.location.id %}">{{ event.location.name }}</a></strong>
    {% if event.hotel_code_url %}( <a href="{{ event.hotel_code_url }}" target="_blank">Hotel Reservation Link</a> ){% endif %}
</p>
<p>{{ event.hotel_information|linebreaks }}</p>

{% endblock content %}