{% extends "brickfiesta/base.html" %}

{% block content %}

<div>
<h1>{{ event.title }}</h1>
<h3>{{ event.start_date }} to {{ event.end_date }}</h3>
</div>

<div>
<h2>{{ event.theme }}</h2>
<p>{{ event.description }}</p>
<p align="right">Tag us on social media: #{{ event.hashtag }}</p>
</div>

<h2>Sponsors</h2>

<h2>Schedule</h2>

<h2>Vendors</h2>

<h2>Passes</h2>

<h2>Location</h2>
<p><strong><a href="{% url 'event:location' event.location.id %}">{{ event.location.name }}</a></strong></p>
<p>{{ event.hotel_information }}</p>

{% endblock content %}