<div class="jumbotron">
    <div class="row">
        <div class="col-md-7">
            <h1 class="display-4"><a href="{% url 'event:details' event.id %}">{{ event.title }}</a></h1>
            <h3>{{ event.theme }}</h3>
            <p class="lead">{{ event.start_date }} to {{ event.end_date }} at
                <a href="{% url 'event:location' event.location.id %}">{{ event.location.name }}</a>
            <br />{{ event.location.locality }}, {{ event.location.region }}</p>
        </div>
        <div class="col-md-5"><img style="height: auto; width: 300px; display: block; margin: 0 auto;" src="{{ event.logo.url }}" alt="Event Logo"/></div>
    </div>
    <hr class="my-4">
    {% for announcement in announcements %}
        {% if announcement.event == event %}
    <div class="alert alert-danger font-weight-bold" role="alert">{{ announcement.description|linebreaks }}</div>
        {% endif %}
    {% endfor %}
    <div style="text-align: justify;">{{ event.description|linebreaks }}</div>
    <div class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'event:details' event.id %}" role="button">More Information</a>
        {% if event.is_current %}
        <p class="alert alert-warning font-weight-bold" role="alert"><strong>Advanced purchasing online for this event is now closed.</strong> Please visit the registration booth at the event for
        pickup and purchases.</p>
        {% endif %}
        {% if event.is_upcoming %}
        <a class="btn btn-success btn-lg" href="{% url 'shop:event' event.id %}" role="button">Online Shop</a>
        {% endif %}
        {% if event.is_upcoming and event.hotel_code_url %}
        <a class="btn btn-info btn-lg" href="{{ event.hotel_code_url }}" role="button">Hotel Reservations</a>
        {% endif %}
    </div>
</div>