{% extends "brickfiesta/base.html" %}

{% block content %}
<div class="row">
    {% for event in events_current %}
    <div class="col-lg-12">
        <h2>Current Event</h2>
        {% include 'event/event_jumbo.html' %}
    </div>
    {% empty %}
    {% endfor %}
</div>

<h2>Upcoming Events</h2>
<div class="row">
    {% for event in events_upcoming %}
    <div class="col-lg-12">
        {% include 'event/event_jumbo.html' %}
    </div>
    {% empty %}
    <div class="col-lg-12">
        <h3>No upcoming events scheduled. Please check back later.</h3>
    </div>
    {% endfor %}
</div>

<h2>Current Sponsors</h2>
<div class="row">
    {% for obj_sponsor in sponsor_list %}
    <div class="col-lg-4 col-md-4">
        {% include "vendor/sponsor_card.html" %}
    </div>
    {% endfor %}
</div>
<br />
<h2>Past Events</h2>
<div class="row">
    {% for event in events_past %}
    <div class="col-lg-4">
        {% include 'event/event_card.html' %}
    </div>
    {% empty %}
    <div class="col-lg-12">
        <h3>No previous events entered.</h3>
    </div>
    {% endfor %}
</div>

<h2>Current Vendors</h2>
<div class="row">
    {% for obj_vendor in vendor_list %}
    <div class="col-lg-3 col-md-3">
        {% include "vendor/vendor_card.html" %}
    </div>
    {% endfor %}
</div>
{% endblock content %}