{% extends "brickfiesta/base.html" %}
{% load template_extras %}
{% block content %}
<h1>{{ location.name }}</h1>
<br />
<div class="vcard h3">
    <a class="fn org url" href="{{ location.url }}">Hotel Website</a>
    <div class="adr">
        <span class="type">Address</span>:
        <div class="street-address">{{ location.street }}</div>
        <span class="locality">{{ location.locality }}</span>,
        <abbr class="region">{{ location.region }}</abbr>&nbsp;&nbsp;
        <span class="postal-code">{{ location.postal_code }}</span>
        <div class="country-name">{{ location.country }}</div>
    </div>
    <div class="tel">
        <span class="type">Work</span>: {{ location.phone_number }}
    </div>
</div>
<hr />
<h2>Event History</h2>
<p>Here is a list of the events we have held at this location.</p>
<ul>
    {% for event in event_list %}
    <li>
        <a href="{% url 'event:details' event.id %}">{{ event.title }}</a>
    </li>
    {% endfor %}
</ul>
<hr />
<h2>Map</h2>
<div id="map">
    {% include 'brickfiesta/google_map.html' %}
</div>
{% endblock content %}