<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description"
          content="Brick Fiesta - A non-profit hobby fan run family focused LEGO convention in Texas.">
    <meta name="author" content="Brick Fiesta STEM">
    <title>Brick Fiesta - AFOL Bag Check List</title>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/simplex/bootstrap.min.css"/>
<style>
@page {
  size: Letter;
}
@media print {
	.page-break	{ display: block; page-break-before: always; }
}
.checkbox {
  width:20px;
  height:20px;
  border: 1px solid #000;
  display: inline-block;
}
</style>
<body>
{% regroup object_list by user as order_items %}

{% for object_user in order_items %}
<h1>AFOL Bag Check List</h1>
<h2>{{ object_user.grouper.first_name }} {{ object_user.grouper.last_name }}</h2>
<table class="table">
    <thead>
    <tr>
        <td>Product/Item</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Added to Bag</td>
        <td>Checked by AFOL</td>
    </tr>
    </thead>
    <tbody>
{% for object in object_user.list %}
    <tr>
        <td><b>{{ object.product.title }}</b></td>
        <td>{{ object.first_name }}</td>
        <td>{{ object.last_name }}</td>
        <td>[&nbsp;&nbsp;&nbsp;]</td>
        <td>[&nbsp;&nbsp;&nbsp;]</td>
    </tr>
    {% for product_details in object.product.bagchecklistitems_set.all %}
    <tr>
        <td>Bag Item: {{ product_details.item }}</td>
        <td></td>
        <td></td>
        <td>[&nbsp;&nbsp;&nbsp;]</td>
        <td>[&nbsp;&nbsp;&nbsp;]</td>
    </tr>
    {% endfor %}{# end bag items #}
    {# TODO: Fix this view so that it checks the products has shirts and has badges but checks the day ordered on the shirt and badge #}
    {% if object.product.product_type == 'convention' %}
    {% for fan_details in object.user.fan_set.all %}
        {% for badge_details in fan_details.badge_set.all %}
            {% if object.product.event == badge_details.event and object.first_name == badge_details.fan.first_name and object.last_name == badge_details.fan.last_name %}
        <tr>
            <td>Badge: [{{ badge_details.badge_name }}],
                [{{ badge_details.rlug_name }}],
                [{{ badge_details.locality }},
                {{ badge_details.region }}]
            </td>
            <td>{{ badge_details.fan.first_name }}</td>
            <td>{{ badge_details.fan.last_name }}</td>
            <td>[&nbsp;&nbsp;&nbsp;]</td>
            <td>[&nbsp;&nbsp;&nbsp;]</td>
        </tr>
            {% endif %}
        {% endfor %}{# end badge #}
        {% for shirt_details in fan_details.shirt_set.all %}
        {% if object.product.event == shirt_details.event and object.first_name == shirt_details.fan.first_name and object.last_name == shirt_details.fan.last_name %}
    <tr>
        <td>Shirt: {{ shirt_details.get_shirt_size_display }}</td>
        <td>{{ shirt_details.fan.first_name }}</td>
        <td>{{ shirt_details.fan.last_name }}</td>
        <td>[&nbsp;&nbsp;&nbsp;]</td>
        <td>[&nbsp;&nbsp;&nbsp;]</td>
    </tr>
        {% endif %}
        {% endfor %}{# end shirts #}
    {% endfor %}{# end fan #}
    {% endif %}
{% endfor %}{# end user #}

    </tbody>
</table>
<div class="page-break"></div>
{% endfor %}
</body>
</html>