{% extends "brickfiesta/base.html" %}
{% block content %}

<h1>Event Planning</h1>
<ul>
{% for object in object_list %}
    <li>{{ object.title }}
        <ul>
            <li><a href="{% url 'planning:program' object.id %}">Program</a></li>
            <li>MOCS <a href="{% url 'planning:moc_table_tents' %}">Table Tents</a></li>
            <li><a href="{% url 'planning:shirt' object.id %}">Shirt Summary</a></li>
            <li><a href="{% url 'planning:schedule_list' object.id %}">List Schedule</a>
                (<a href="{% url 'planning:schedule_print' object.id %}">Printable Schedule</a>)
            </li>
        </ul>
    </li>
{% endfor %}
</ul>
{% endblock content %}