{% for object in object_list %}
"{{object.moc.created}}", {# Timestamp #}
"{{ object.moc.creator.first_name }}", {# First Name #}
"{{ object.moc.creator.last_name }}", {# Last Name #}
{{ object.moc.creator.user.email }}, {# Email Address #}
`{{ object.moc.title }}`, {# MOC Name #}
Description, {# MOC Description #}
{{ object.moc.length }}, {# MOC Length #}
{{object.moc.width}}, {# MOC Width #}
{{object.moc.height}}, {# MOC Height #}
"{{ object.category.title }}", {# Prominent Theme #}
"{{ object.moc.year_built }}", {# Year Built #}
REQUIREMENTS, {# Additional Display Requirements #}
LAYOUT, {# Is this MOC to be part of a larger display layout? #}
"{{object.category }}", {# Location Details For Processor #}
AREA</br>  {# Area #}
{% endfor %}