<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description"
          content="Brick Fiesta - A non-profit hobby fan run family focused LEGO convention in Texas.">
    <meta name="author" content="Brick Fiesta STEM">
    <title>Brick Fiesta - Schedule</title>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/simplex/bootstrap.min.css"/>
    <style>@media print {.page-break	{ display: block; page-break-before: always; }}</style>
<body>
{% include 'event/schedule_table.html' %}
</body>
</html>