<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description"
          content="Brick Fiesta - A non-profit hobby fan run family focused LEGO convention in Texas.">
    <meta name="author" content="Brick Fiesta STEM">
    <title>Brick Fiesta - Will Call List</title>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/simplex/bootstrap.min.css"/>
    <style>@media print {.page-break	{ display: block; page-break-before: always; }}</style>
</head>
<body>
<h1>Will Call List for {{ title }} ({{ count }})</h1>
<table class="table table-striped table-sm">
    <thead class="thead-light">
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Email</td>
        <td>Product</td>
        <td>Checked ID</td>
        <td>Verified Email</td>
        <td>{{ check_item }}</td>
    </tr>
    </thead>
    <tbody>
    {% for object in object_list %}
    <tr>
        <td>{{ object.first_name }}</td>
        <td>{{ object.last_name }}</td>
        <td>{{ object.user.email }}</td>
        <td>{{ object.product.title }}</td>
        <td>[&nbsp;&nbsp;&nbsp;]</td>
        <td>[&nbsp;&nbsp;&nbsp;]</td>
        <td>[&nbsp;&nbsp;&nbsp;]</td>
    </tr>
    {% endfor %}
    </tbody>
</table></body>
</html>