{% extends "brickfiesta/base.html" %}

{% block content %}

<h1>About</h1>

<p>Brick Fiesta is the premier fan of LEGO event held in the great state of Texas. Since 2003 the idea of having a LEGO convention and exhibition has been the dream and ambition of several TexLUG members. With the opening of a LEGO store in Austin in 2011 and the right people asking the right questions Brick Fiesta is coming soon near you. We are looking forward to years of continued success.</p>

<p>Brick Fiesta is proudly presented by the Texas LEGO User Group (TexLUG) and it’s various chapters.</p>

{% endblock content %}