{% load staticfiles %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Brick Fiesta - A non-profit hobby fan run family focused LEGO convention in Texas.">
  <meta name="author" content="Brick Fiesta STEM">
  <title>Brick Fiesta - {% block subtitle %}A celebration of LEGO in Texas{% endblock subtitle %}</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/kube/dist/css/kube.min.css' %}" />
</head>

<body>

<header>
<div>
    <ul>
        <li class="brand"><a href="{% url 'event:index' %}">Brick Fiesta</a></li>
        <li><a href="{% url 'news:index' %}">News</a></li>
        <li><a href="{% url 'mocs:index' %}">MOCs</a></li>
        <li><a href="{% url 'admin:logout' %}">Sign In/Out</a></li>
    </ul>
</div>
</header>

<article>
<div>
{% block content %}{% endblock content %}
</div>
</article>

<footer>
<div>
    <p>2011 - 2017 <a href="">Brick Fiesta</a> / <a href="">About</a> / <a href="">Contact Us</a> / <a href="">Privacy Policy</a></p>
</div>
</footer>

</body>
</html>