<!doctype html> {% load staticfiles %} {% load template_extras %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Brick Fiesta - A non-profit hobby fan run family focused LEGO convention in Texas.">
    <meta name="author" content="Brick Fiesta STEM">
    <title>Brick Fiesta - {% block subtitle %}A celebration of LEGO in Texas{% endblock subtitle %}</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/simplex/bootstrap.min.css" /> {% block extra_css %}{% endblock %}
</head>

<body>
    <header>
        <div class="bs-component">
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="{% url 'event:frontpage' %}" title="Brick Fiesta">
                        <img src="{% static 'img/bf_logo_rectangle.png' %}" class="img-fluid" style="max-width: 200px; height: auto; margin-top: -7px;" alt="Brick Fiesta" />
                </a>
                <div class="collapse navbar-collapse navbar-expand-lg" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'event:index' %}">Events</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'news:questions' %}">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'news:index' %}">News</a>
                        </li>
                        <!-- li class="nav-item">
                            <a class="nav-link" href="{% url 'mocs:index' %}">MOCs</a>
                        </li -->
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'shop:index' %}">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'vendor:index' %}">Sponsors and Vendors</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav my-2 my-lg-0">
                        {% if cart_count|default:0 %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'shop:cart' %}">Cart
                                <span class="badge badge-pill badge-dark">{{ cart_count|default:0 }}</span>
                            </a>
                        </li>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'afol:profile' %}">Profile: {{ user.get_username }}</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'afol:logout' %}">Log Out</a>
                        </li>
                        {% else %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'afol:login' %}">Log In</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <br/>
    <article class="container">
        <div>
            {% block content %}{% endblock content %}
        </div>
    </article>
    <br/>
    <footer>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">2011 - {% now 'Y' %}
                <a href="http://www.brickfiestastem.org/">Brick Fiesta STEM</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/about/">About</a>
            </li>
            <li class="breadcrumb-item">
                <a href="{% url 'event:contactus' %}">Contact Us</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/privacy_policy/">Privacy Policy</a>
            </li>
            <li class="breadcrumb-item">Social Media:
                <a href="https://www.facebook.com/brickfiesta" class="badge badge-info" target="_blank">Facebook</a>
                <a href="https://www.instagram.com/brick.fiesta/" class="badge badge-secondary" target="_blank">Instagram</a>
                <a href="https://www.pinterest.com/brickfiesta/" class="badge badge-primary" target="_blank">Pinterest</a>
                <a href="http://twitter.com/brickfiesta" class="badge badge-info" target="_blank">Twitter</a>
            </li>
        </ol>
    </footer>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script> {% block extra_js %} {% endblock %}
</body>

</html>