{% if form.errors %}
<div class="form-group has-danger">
    {% for error in form.errors %}
        <small class="invalid-feedback">{{ error }}</small>
    {% endfor %}
</div>
{% endif %}


{% for field in form %}
{% if field.errors %}
<div class="form-group has-danger">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    <input type="{{ field.widget }}" name="{{ field.html_name }}" class="form-control is-invalid" id="{{ field.id_for_label }}" aria-describedby="{{ field.name }}Help" placeholder="{{ field.initial }}">
    {% for error in  field.errors %}
     <small class="invalid-feedback" id="{{ field.name }}Help">{{ error }}</small>
    {% endfor %}
</div>
{% else %}
<div class="form-group">
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    <input type="{{ field.widget }}" name="{{ field.html_name }}" class="form-control" id="{{ field.id_for_label }}" aria-describedby="{{ field.name }}Help" placeholder="{{ field.initial }}">
    <!-- div class="form-control">{{ field }}</div -->
    {% if field.help_text %}
        <small class="form-text text-muted" id="{{ field.name }}Help">{{ field.help_text }}</small>
    {% endif %}
</div>
{% endif %}
{% endfor %}