{% if user.is_authenticated and user.is_staff %}
<h4>Administration</h4>
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'admin:index' %}">Administrate Site</a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'games:index' %}">Games</a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'planning:index' %}">Planning</a>
    </li>
</ul>
{% endif %}
<h4>Fan of LEGO</h4>
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'afol:activities_list' %}">My Activities</a>
        <!-- span class="badge badge-primary badge-pill">0</span -->
        <a class="btn btn-success" href="{% url 'afol:activities' %}">Sign Up</a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'afol:mocs' %}">My MOCs</a>
        <!-- a class="btn btn-success" href="{% url 'mocs:add' %}">Add MOC</a -->
        <!-- span class="badge badge-primary badge-pill">0</span -->
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'afol:shirts' %}">My Shirts</a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'afol:volunteer_list' %}">My Volunteering</a>
        <a class="btn btn-success" href="{% url 'afol:volunteer' %}">Volunteer</a>
    </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'afol:vote_list' %}">My Votes</a>
    </li>
</ul>
<h4>Vendor/Sponsor</h4>
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {% if business_owner %}
        <a href="{% url 'vendor:edit' business_id %}">Business Information</a>
        {% else %}
        <a href="{% url 'vendor:add' %}">Business Information</a>
        {% endif %}
    </li>
    <!-- li class="list-group-item d-flex justify-content-between align-items-center">
        History
    </li -->
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'vendor:sponsor-request' %}">Sponsor Request</a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'vendor:vendor-request' %}">Vendor Request</a>
    </li>
</ul>
<h4>Account</h4>
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'afol:password_change' %}">Password Change</a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'afol:edit' %}">Update Profile</a>
    </li>
</ul>
