<h4>AFOL</h4>
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        My MOCs
        <span class="badge badge-primary badge-pill">0</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        My Activities
        <span class="badge badge-primary badge-pill">0</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Volunteer
    </li>
</ul>
<h4>Vendor/Sponsor</h4>
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {% if business_owner %}
        <a href="{% url 'vendor:edit' business_id %}">Business Information</a>
        {% else %}
        <a href="{% url 'vendor:add' %}">Business Information</a>
        {% endif %}
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        History
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Sponsor Request
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Vendor Request
    </li>
</ul>
<h4>Account</h4>
<ul class="list-group">
    {% if user.is_authenticated and user.is_staff %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'admin:index' %}">Administrate Site</a>
    </li>
    {% endif %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'afol:password_change' %}">Password Change</a>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'afol:edit' %}">Update Profile</a>
    </li>
</ul>