<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        My MOCs
        <span class="badge badge-primary badge-pill">0</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        My Activities
        <span class="badge badge-primary badge-pill">0</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Sponsor Request
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Vendor Request
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        Volunteer
    </li>
</ul>
<div><p></p></div>
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <a href="{% url 'afol:password_change' %}">Password Change</a>
    </li>
</ul>