{% extends "brickfiesta/base.html" %}
{% load staticfiles %}
{% load template_extras %}

{% block extra_css %}
<script type="text/javascript" src="https://js.squareup.com/v2/paymentform"></script>
<!-- link to the local SqPaymentForm initialization -->
<script type="text/javascript" src="{% static 'js/sqpaymentform.js' %}"></script>
<!-- link to the custom styles for SqPaymentForm -->
<link rel="stylesheet" type="text/css" href="{% static 'css/sqpaymentform.css' %}">
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-12">
        <h1><a href="{% url 'shop:index' %}">Online Shop</a> - Your Cart</h1>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Product Type</th>
                <th>Product</th>
                <th>Details</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for item in cart %}
            <tr>
                <td>{{ item.product.event.title }} - {{ item.product.get_product_type_display }}</td>
                <td>{{ item.product.title }}</td>
                <td>For {{ item.first_name }} {{ item.last_name }}<br/>Send details to {{ item.email }}</td>
                <td>{{ item.product.price|currency }}</td>
                <td>
                    <form action="." method="post">
                        {% csrf_token %}
                        <input type="hidden" name="cart_item" value="{{ item.id }}"/>
                        <input class="btn btn-danger" type="submit" value="Remove"/>
                    </form>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <td align="right">Total:</td>
                <td>{{ cart_total|currency }}</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div id="sq-ccbox">
        <form id="nonce-form" novalidate action="." method="post">
            Pay with a Credit Card
            <table>
                <tbody>
                <tr>
                    <td>Card Number:</td>
                    <td>
                        <div id="sq-card-number"></div>
                    </td>
                </tr>
                <tr>
                    <td>CVV:</td>
                    <td>
                        <div id="sq-cvv"></div>
                    </td>
                </tr>
                <tr>
                    <td>Expiration Date:</td>
                    <td>
                        <div id="sq-expiration-date"></div>
                    </td>
                </tr>
                <tr>
                    <td>Postal Code:</td>
                    <td>
                        <div id="sq-postal-code"></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button id="sq-creditcard" class="button-credit-card" onclick="requestCardNonce(event)">
                            Pay with card
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>

            <!--
              After a nonce is generated it will be assigned to this hidden input field.
            -->
            <input type="hidden" id="card-nonce" name="nonce">
        </form>
    </div>

    <div id="sq-walletbox">
        Pay with a Digital Wallet
        <div id="sq-apple-pay-label" class="wallet-not-enabled">Apple Pay for Web not enabled</div>
        <!-- Placeholder for Apple Pay for Web button -->
        <button id="sq-apple-pay" class="button-apple-pay"></button>

        <div id="sq-masterpass-label" class="wallet-not-enabled">Masterpass not enabled</div>
        <!-- Placeholder for Masterpass button -->
        <button id="sq-masterpass" class="button-masterpass"></button>
    </div>
</div>
{% endblock content %}