{% extends "brickfiesta/base.html" %}
{% load template_extras %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/smartadmin/smartadmin-production.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}" />
{% endblock %}
{% block content %} 

    <section id="widget-grid" class="">
        {% for product in products %}
            <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <div class="product-content product-wrap clearfix">
                    <div class="row">
                            <div class="col-md-5 col-sm-12 col-xs-12">
                                <div class="product-image">
                                    <img src="/static/media/{{ product.image }}" alt="product image missing" class="img-responsive" style="width:100%;height:100%;">
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-12 col-xs-12">
                            <div class="product-deatil">
                                    <div class="name">
                                        <h1>
                                            <div style="float:right"><a href="javascript:void(0);" class="btn btn-success">Add to cart</a></div>
                                            {{ product.title }} <span class="badge badge-warning" style="display: table !important;">{{ product.product_type.title }}</span>

                                        </h1>
                                    </div>
                                    <p class="price-container">
                                        <span>{{ product.price|currency }}</span>
                                    </p>
                            </div>
                            <div class="description">
                                <p class="font-lg">{{ product.description }}</p>
                            </div>
                                <ul>
                                    {% for bullet in product.productbulletpoint_set.all %}
                                    <li class="font-md">{{ bullet.text }}</li>
                                    {% endfor %}
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </section>

{% endblock content %}