{% extends "brickfiesta/base.html" %} {% block content %}
{% with True as template_details %}
<h1>Add To Cart</h1>
<div class="row">
    <div class="col-2"></div>
    <div class="col-4">
        <form action="." method="post">
            {% csrf_token %}
            <input type="hidden" name="product_id" value="{{ product.id }}" />
            {% include 'brickfiesta/form_formatting.html' %}
            {% include 'brickfiesta/google_recaptcha.html' %}
            <p align="right">
                <input class="btn btn-primary" type="submit" value="Add to Cart"/>
            </p>
        </form>
    </div>
    <div class="col-4">
        {% include 'shop/product_card.html' %}
    </div>
    <div class="col-2"></div>
</div>
{% endwith %}
{% endblock content %}