{% extends "brickfiesta/base.html" %} {% block content %}
{% load template_extras %}
<h1>{{ first.event.title }} Product List</h1>
{% regroup object_list by get_product_type_display as product_list %}
<div class="row">
    {% for product_type in product_list %}
    <div class="col-12">
        <hr/>
        <h3>{{ product_type.grouper }}</h3>
    </div>
        {% for product in product_type.list %}
        <div class="col-sm-4">
            {% include 'shop/product_card.html' %}
        </div>
        {% endfor %}
    {% endfor %}
</div>
{% endblock content %}